#loginForm{
    max-width: 70%;
    justify-content: center;
}

#registerForm{
    padding: 1em;
}


.ui-content{
    padding: 0;
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 40px;
    left: 0;
}